@import '~@assets/styles/variables';

.MatchBox {
  display: flex;
  width: 800px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: linear-gradient(to right top, #101a28, #192337, #262c47, #343556, #453e65);
  color: #fff;
}

.versus {
  font-size: 2em;
}
