@import '~@assets/styles/variables';
@import '~@assets/styles/fonts';

* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: $font-regular;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: $screen-lg) {
    font-size: 16px;
  }
}

h1,
h2 {
  margin-top: 20px;
  font-family: $font-bold;
  letter-spacing: 0;
  line-height: 1em;
}

ul {
  padding: 0;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

/* ---------------------------------------------
  spacing
--------------------------------------------- */
@mixin spacing {
  @for $j from 0 through 20 {
    $i : $j*5;

    .pt#{$i} {
      padding-top: #{$i}px !important;
    }

    .pb#{$i} {
      padding-bottom: #{$i}px !important;
    }

    .pl#{$i} {
      padding-left: #{$i}px !important;
    }

    .pr#{$i} {
      padding-right: #{$i}px !important;
    }

    .mt#{$i} {
      margin-top: #{$i}px !important;
    }

    .mb#{$i} {
      margin-bottom: #{$i}px !important;
    }

    .ml#{$i} {
      margin-left: #{$i}px !important;
    }

    .mr#{$i} {
      margin-right: #{$i}px !important;
    }
  }
}

@include spacing;

/* ---------------------------------------------
  Anims
--------------------------------------------- */
.spin {
  display: inline-block;
  animation: spin 0.5s infinite linear;
  //transform: rotate(450deg);
  &--right {
    margin-left: 10px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
