$primary: #ffc425;
$secondary: #3f8bcf;

$screen-sm: 568px; // and above : large mobile
$screen-md: 760px; // and above : tablet
$screen-lg: 1200px; // and above : desktop
$screen-xl: 1600px; // and above : large desktop

$font-regular:'Circular-Std-Book', arial, helvetica, sans-serif;
$font-semibold:'Circular-Std-Medium', arial, helvetica, sans-serif;
$font-bold:'Circular-Std-Bold', arial, helvetica, sans-serif;
